body {
    display: block;
    width: 700px;
    margin: 25px auto 0 auto;
    font: normal 20px Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #050505;
}

.box, h2 {
    width: 600px;
    margin: 0px 50px 0px 50px;
}

.box{
    background-color: #0c0c0c;
    border: 0;
    color: #bd9191;
}

#box {
    height: 40px;
    background-color: #0c0c0c;
    border: 0;
    color: #bd9191;
}

div {
    display: flex;
}

select {
    width: 150px;
    height: 30px;
    margin: 0 50px 0 50px;
    background-color: #0c0c0c;
    border: 1px #bd9191;
    color: #bd9191;
}

h2 {
    margin: 20px 50px 0px 50px;
}

#check, button {
    margin: 15px 5px 15px 50px ;
    padding: 5px 10px 5px 10px;
}

p {
    margin: 15px 0 15px 0 ;
    font-size: 15px;
}

button {
    height: 30px;
    background-color: #0c0c0c;
    border: 0;
    color: #bd9191;
}